@media (max-width: 991px) {
  .table__btn {
    padding: 5px;
  }

  .table__cell-wrapper_time {
    flex-direction: column;
    gap: 0;
  }

  .table__cell-wrapper_actions {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    justify-content: center;
  }

  .header__filter {
    display: none;
  }

  .table__wrapper {
    position: relative;
    margin: 0 -20px;
    padding: 20px;
    overflow-x: auto;
  }
}
