:root {
  --primary-color: #9873ff;
  --grey-color: #c8c5d1;
  --text-black: #333;
  --text-grey: #b0b0b0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-black);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px;
  width: 100%;
}

.header {
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32), 0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
}

.header__wrapper {
  display: flex;
  padding: 20px 0;
}

.header__logo {
  margin-right: 57px;
}

.header__filter {
  max-width: 580px;
  width: 100%;
}

.match {
  color: var(--primary-color);
}

.header__filter .input__control {
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  width: 100%;
  height: 44px;
  font-family: inherit;
  font-size: 14px;
  color: var(--text-grey);
}

.clients__title {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-black);
}

.clients__table {
  margin-bottom: 40px;
  background-color: #fff;
}

.table__header-title {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-grey);
}

.table__header-title_sortable {
  cursor: pointer;
}

.sorted::after {
  content: "\2193";
  padding-left: 5px;
  color: var(--primary-color);
}

.sorted-reverse::after {
  content: "\2191";
  padding-left: 5px;
  color: var(--primary-color);
}

.clients__button-container {
  display: flex;
  justify-content: center;
}

.clients__add-btn {
  padding: 13px 26px;
  border: 1px solid var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}

.input__control {
  border: none;
  border-bottom: 1px solid var(--text-grey);
  border-radius: 0;
}

.input__control:required ~ .input__label::after {
  content: "*";
  color: var(--primary-color);
}

.modal__title {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black);
}

.modal__client-id {
  font-size: 12px;
  color: var(--text-grey);
}

.form__contacts {
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  background-color: var(--grey-color);
}

.form__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn-submit {
  margin-bottom: 5px;
  padding: 17px 35px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary-color);
}

.btn-link {
  color: var(--text-black);
}
